.offer-container {
  background: center center/cover no-repeat ;
  background-color: blue;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.offer-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: 10px;
}

.offer-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.offer-btns {
  margin-top: 10px;
}

.offer-btns .btn {
  margin: 10px;
}

.fa-play-circle {
  margin-left: 4px;
}
